body {
  overflow-y: hidden;
}

h2 {
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: black;
  margin: 20px 0;
}

h3 {
  margin: 20px 0 0;
  padding: 7px 0;
  text-align: center;
}

p{
  margin-bottom: 0;
  font-size: .8rem;
}

.menu {
  text-align: left;
}

.row{
  margin: 0 auto;
  text-align: center;
}

.card-body{
  padding: 0 10px;
}

.whole-card{
  padding: 10px 0;
  border: 1px solid;
  border-color: #f3f3f3;
  border-radius: 3px;
}

.card-img, .card-img-top {
  border-radius: 50%;
  width: 75%;
}

.card-text {
  font-size: 20px;
}

.nav-ver a {
  margin-bottom: 30px;
  color: black !important;
  font-weight: bold;
  font-size: 15px;
  padding: 7px;
}

.nav-ver {
  height: calc(100vh);
  overflow-y: scroll;
}

.col-10 {
  height: calc(100vh);
  overflow-y: scroll;
}

.card:hover{
  background-color: #E8F3F9;
}
